.page-title {
  font-size: 43px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Занимаем всю высоту экрана */
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  flex: 1; /* Растягиваем контент, чтобы футер был внизу */
}
